@import "base/_mixins.scss";
@import "base/_variables.scss";
* {
  font-family: "MuseoModerno", cursive;
}
.container {
  position: relative;
  padding: 0 20px;
  max-width: 950px;
  margin: 0 auto;
}
@import "blocks/title";
@import "blocks/_promo.scss";
@import "blocks/_header.scss";
@import "blocks/buttons.scss";
@import "blocks/benefits.scss";
@import "blocks/consultation.scss";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/other";

@import "media.scss";
