@import "base/_mixins.scss";
@import "base/_variables.scss";
* {
  font-family: "MuseoModerno", cursive;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
@import "blocks/_promo.scss";
@import "blocks/_header.scss";
@import "blocks/buttons.scss";
@import "blocks/benefits.scss";

@import "media.scss";
