.benefits {
  min-height: 473px;
  background-color: #f6f6f6;
  padding: 70px 0 65px 0;
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0d0d0d;
  }
  &__icons {
    margin-top: 65px;
    display: flex;
    column-gap: 65px;
  }
  &__icon {
    &__title {
      margin-top: 30px;
      font-weight: 700;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
      color: #0d0d0d;
    }
    &__subtitle {
      margin-top: 20px;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #0d0d0d;
      span {
        color: $btn-color;
      }
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
  }
  
}
